/*______________GENERAL_____________*/

body{
	margin: 0;
	font-family: Roboto, 'Open sans', sans-serif;
}


/*______________HEADER_____________*/


#first-nav{
	display: flex;
	width: 100%;
	background: #0ABAB5;
	height: 20vh;
	align-items: center;
}

#first-nav img{
	box-sizing: border-box;
	height: 20vh;
	padding: 2vh;
}

#first-nav #genuiny-logotype{
	text-decoration: none;
	color: #fff;
}

.menu{

}

.nav ul{
	list-style-type: none;
}

.nav ul li{
	flex: 1 1 33%;
}